<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--
    This feature declares that your app requires a camera,
    but it is not necessary for the app to function properly.
    If the device does not have a camera, your app can still
    be installed and run
    -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- This permission allows your app to access the device's camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:name=".ReadBudApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_main_light"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_main_light"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReadBud"
        tools:targetApi="31">
        <activity
            android:name=".ui.screens.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.ReadBud" />

        <activity
            android:name=".ui.screens.intro.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApp.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>